body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  
}
@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2') format('woff2'),
       url('fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@media (max-device-width: 900px) {
  .menu .homeLink .services,
  .about #pageviews-count {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: black;
    height: 60px;
    
  }
.hidden {
  display: none;
}
  .menu .dropdown .dropdown-content {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.7s;
  }

  .menu .dropdown .hidden {
    max-height: 0;
    overflow: hidden;
  }
  .menu .homeLink .services,
  .visits #pageviews-count {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: black;
    height: 60px;
    
  }
  
.hidden {
  display: none;
}
  .menu .dropdown .dropdown-content.services {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.7s;
  }

  .menu .dropdown .hidden {
    max-height: 0;
    overflow: hidden;
  }
  .main .mainContent #homeContent {
  overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
  height: 97%; /* Take up 100% of the parent's height */
  width: 100%;
  background-color: rgb(176,196,222);
  position: relative;
  }
  .content .menu #aboutMe {
    margin-left: 0;
  }
  .content .menu #lang #pol,#eng {
    width: 20px;
    height: 15px;
  }
  .content .menu #lang {
    margin-right: 3px;
    padding: 0;
  }
}
@media only screen and (min-device-width: 901px) {
  .menu ul li a:hover {
    background-color: #555;
  }
  .menu .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    max-height: 1000px; /* Adjust this value based on your dropdown's height */
  }
  .menu .dropdown-content a:hover {
    background-color: #555;
  }
}
.icon-user {
  font-style: normal;
}
#lang {
  position: relative;
  width: 60px;
  margin-left: auto;
  margin-right: 10px;
}
#aboutMe {
  position: relative;
  height: 60px;
  min-width: 100px;
  text-align: center;
  margin-left: 50px;
  margin: 0
}
#aboutMe:hover {
  background-color: #555;
}
#engAbout, #polAbout {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
}
#projects {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 60px;
}
#projectsEng, #projectsPol {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-element {
  opacity: 0;
  display: hidden;
  
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Adjust the duration and easing function as needed */
}
.visible {
  opacity: 1;
  visibility: visible;
}
#home:hover, #service1:hover, #service2:hover, #service3:hover, #engAbout:hover, #polAbout:hover, #lang:hover, #projects:hover {
  background-color: #555;
}
#aboutMe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.homeLink,
#lang {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.services {
  position: absolute;
}
.visits {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;
  padding-left: 10px;
  padding-right: 3px;
}
#visits {
  position: relative;
  height: 60px;
  width: 200px;
}
#visitEng, #visitPol {
  position: absolute;
}
#pageviews-count {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  color: black;
  height: 60px;
}

.bg {
  background-color: white;
}
.homeLink:hover,
.services:hover {
  background-color: #555;
}
.services {
  user-select: none;
}
.menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: rgb(128,128,128);
  text-decoration: none;
  color: black; /* Set the font color to black */
  height: 60px;
  
}
.dropdown {
  position: relative;
  background-color: rgb(128,128,128);
}

.dropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #333;
  min-width: auto;
  white-space: nowrap;
  z-index: 2;
  top: 100%; /* Position the dropdown-content below the menu item */
  left: 0; /* Align the left edges */
  transition: max-height 0.7s;
  
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  width: auto;
}



.code {
  position: absolute;
  left: 0; /* Set the left position (horizontal) */
  top: 60px;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 60px);
}

.main {
  height: calc(100vh - 60px);
}
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust this value based on your needs */
  overflow: hidden;  
  box-sizing: border-box;
  padding: 20px;  
}

#homeContent {
  overflow: auto; /* Enable both vertical and horizontal scrolling if needed */
  height: 100%; /* Take up 100% of the parent's height */
  width: 100%;
  background-color: rgb(176,196,222);
  position: relative;
}
#eng, #pol, #textEng, #textPol {
  position: absolute;
}
#textEng {
  text-align: justify;
  overflow-x: hidden;
  
}
.icon-user, .icon-group, .icon-list-alt {
  margin: 4px;
}
.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  width: 60%;
}
 

.border {
  background: transparent;
  height: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.imageTables {
  display: flex;
  flex-direction: column;
}
.image {
  
  width: 100%;
  height: 100%;
}
.projectImg {

  width: auto;
  height: 400px;
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  display: block; /* Prevents extra space below inline-block images */
}

.git, .link, .tech {
  position: relative;
 
}
.gitEng, .gitPol, .linkEng, .linkPol, .descriptionEng, .descriptionPol {
  position: absolute;
}
.description {
  position: relative;
} 
