
.icon-down-bold:before { content: '\e800'; } /* '' */
.icon-up-bold:before { content: '\e801'; } /* '' */
.icon-laptop:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
